<% include ./partials/header %>


<div class="container" id="login-page">
	<div class="row">
	<h1 class="text-center">Log into YelpCamp</h1>
	<div id="login-form">
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="username">Username</label>
					<input class="form-control" type="text" name="username" placeholder="Username" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" placeholder="Password" required>
				</div>
				<input class="btn btn-primary btn-block" type="submit" value="Login">
			</form><br>
				<div id="login-hr">
				  <span id="login-hr-span">
				    or <!--Padding is optional-->
				  </span>
				</div><br>
				<div id="signup-button">
					<a href="/register" id="signup-button" class="btn btn-success btn-block">Create New Account</a>
				</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>
