<% include partials/header %>

<h1>Create a new campground</h1>

<form method="POST" action="/campgrounds">
	<input type="text" name="name" placeholder="Campground Name">
	<input type="text" name="image" placeholder="Image URL">
	<button type="submit">Submit</button>
</form>

<% include partials/footer %>
