.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 10px;
}

.lead {
	margin-top: 10px;
}

#delete-form {
	display: inline;
}

#login-form {
	width: 30%;
	margin: 7% auto;
}

#registration-form {
	width: 30%;
	margin: 3% auto;
}

#login-page {
	background: #e9ebee;
	width: 100%;
	height: 100%;
}

#login-hr {
	width: 100%; 
	height: 20px; 
	border-bottom: 1px solid black; 
	text-align: center;
}

#login-hr-span {
	font-size: 20px; 
	background-color: #e9ebee; 
	padding: 0 10px;
}

#signup-button {
	margin: 0 auto;
}

a#signup-button.btn.btn-success.btn-block {
	width: 50%;
	height: 2.5em;
}

.navbar-default {
	background-color: #283e4a;
	color: white;
	margin: 0 !important;
	/*border: 3px solid red;*/
}

#nav-content {
	color: white !important;
}

#map {
	width: 100%;
	height: 400px;
}

#index-header {
	/*border: 3px solid red;*/
	color: white;
	width: 100%;
	background-size: 100% 100%;
	height: 600px;
	background-image: url(http://i.imgur.com/emvhOnb.jpg)
}

#index-header-content {
	font-size: 20px;
	margin-top: 12%;
}

#header-h1 {
font-size: 50px;
}

#sub-heading {

}

#index-container {
	/*border: 3px solid red;*/
	color: white;
	width: 100%;
	background-size: 100% 100%;
	height: 600px;
	background-image: url(http://i.imgur.com/emvhOnb.jpg)
}


.footer-copyright {
	background-color: #283e4a;
	color: white;
	height: 100px;
	/*border: 2px solid red;*/
	padding: 0;
}

#footer-content {
	margin-top: 30px;
	padding-top: 5%
	/*border: 2px solid red;*/
}

#show-container {
	margin-top: 40px;
}
