.thumbnail img {
	width: 100%;
}

.index-images {
	max-height: 200px;
	min-height: 200px;
}

body {
	font-family: Raleway;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 10px;
}

.lead {
	margin-top: 10px;
}

#delete-form {
	display: inline;
}

#login-form {
	width: 30%;
	margin: 7% auto;
	/*border: 2px solid red;*/
}

#registration-form {
	width: 30%;
	margin: 3% auto;
	padding-bottom: 115px;
}

#login-page {
	/*border: 2px solid red;*/
	background: #e9ebee;
	width: 100%;
	padding-bottom: 140px;
}

#login-hr {
	width: 100%; 
	height: 20px; 
	border-bottom: 1px solid black; 
	text-align: center;
}

#login-hr-span {
	font-size: 20px; 
	background-color: #e9ebee; 
	padding: 0 10px;
}

#signup-button {
	margin: 0 auto;
}

a#signup-button.btn.btn-success.btn-block {
	width: 50%;
	height: 2.5em;
}

.navbar-default {
	background-color: #283e4a;
	color: white;
	margin: 0 !important;
	/*border: 3px solid red;*/
}

#nav-content {
	color: white !important;
}

#map {
	width: 100%;
	height: 400px;
}

#index-header {
	/*border: 3px solid red;*/
	color: white;
	width: 100%;
	background-size: 100% 100%;
	height: 600px;
	background-image: url(http://i.imgur.com/emvhOnb.jpg);
}

#index-header-content {
	font-size: 20px;
	margin-top: 12%;
}

#header-h1 {
font-size: 50px;
}

#sub-heading {

}

#index-container {
	/*border: 3px solid red;*/
	color: white;
	width: 100%;
	background-size: 100% 100%;
	height: 600px;
	background-image: url(http://i.imgur.com/emvhOnb.jpg)
}


#footer-copyright {
  /*border: 2px solid red;*/
  text-align: center;
  margin-top: 70px;
  color: white;
}
#footer-span {
  /*border: 2px solid white;*/
}
#footer {
	/*border: 2px solid yellow;*/
	right: 0;
	bottom: 0;
	left: 0;
  height: 100px;
  background-color: #283e4a;
  position: absolute;
  width: 100%;
  top: 100%;
}

#show-container {
	margin-top: 50px;
}

#review-form-container {
	padding-bottom: 215px;
	margin-top: 30px;

}

body {
	background: #F5F5F5;
	position: relative;
}

#index-main-content {
	padding-bottom: 50px;
}

#comment-edit-container{ 
	margin-top: 150px;
	padding-bottom: 300px;
 }

 #campground-edit-container{ 
	padding-bottom: 215px;
 }

 #comment-new-container{ 
	padding-bottom: 300px;
	margin-top: 150px;
 }



